.response-actions {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  border-radius: var(--borderRaduis);
  justify-content: space-around;
  padding: 0.75rem;
  border: 1px solid var(--borderColor);
  flex-direction: row;
}
.response-actions button {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  color: var(--anchor);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

.response-actions button:hover {
  color: var(--accent-color);
}
.download-pdf-button {
  background: var(--bg-color);
}

.additional-actions {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: auto; /* Push to the right */
}
/* Add responsive styles if needed */
@media (max-width: 768px) {
  .response-actions {
    /* flex-direction: column; */
    align-items: flex-start;
  }
  .additional-actions {
    margin-left: 0;
    width: 100%;
  }
}
