.ai-avatar {
  align-self: flex-end;
  margin: 1rem;
  display: flex;
  border-radius: 50%;
  background-color: var(--bg-color-avatar);
}

.ai-avatar img.profile-img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 3px solid var(--accent-color);
  box-shadow: var(--shadow-color);
}
