/* Auth Container Styles */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 2rem;
}

.login-box {
  display: flex;
  background: var(--section-bg);
  padding: 1rem;
  border-radius: var(--borderRaduis);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.auth-title {
  margin-bottom: 0.5rem;
  color: var(--text-color);
  font-size: 1.75rem;
}

.auth-subtitle {
  color: var(--text-color);
  opacity: 0.8;
  margin-bottom: 2rem;
}

/* Google Button Container */
.google-button-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

/* Force Google button to be centered */
div[role='button'] {
  margin: 0 auto !important;
}

/* Chat Container Styles */
.chat-main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* CTA Button */
.cta-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 1.2rem 2.5rem;
  font-size: 1.3rem;
  border-radius: 50px;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  box-shadow: 0 5px 15px rgba(211, 84, 0, 0.3);
}

.cta-button:hover {
  background-color: #4b2402;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(211, 84, 0, 0.4);
}

/* .pulse-animation {
  animation: pulse 3s infinite;
} */
/* Responsive Adjustments */
@media (max-width: 768px) {
  .auth-container {
    padding: 1rem;
  }
}
