.app-container {
  margin: 12px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  /* Or whatever div wraps your Outlet */
  flex-grow: 1; /* This makes the content area take up all available space, pushing footer down */
}
