.legal-page {
  margin: 2rem auto;
  padding: 3rem;
  line-height: 1.6;
  background-color: var(--bg-color);
  box-shadow: 2px 2px 12px rgba(164, 164, 164, 0.132);
  border-radius: var(--borderRaduis);
}

.legal-page h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.para {
  display: flex;
  flex-wrap: wrap;
}

.legal-page h2 {
  font-size: 1.5rem;
  margin: 2rem 0 1rem;
}

.legal-page p,
.legal-page li {
  margin-bottom: 0.8rem;
}
